aside:hover {
  width: 18vw;
  transition: all;
  transition-duration: 500ms;
}

aside {
  transition: all;
  transition-duration: 500ms;
}

aside button {
  transform: translateX(35%);
  transition: all;
  transition-duration: 500ms;
}

aside:hover button {
  transform: translateX(10%);
}

aside button > p {
  transform: translateX(100%);
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0;
  text-wrap: nowrap;
}

aside:hover button>p {
  display: block;
  width: 80%;
  transform: translateX(0%);
  opacity: 1;
}